*.o
*.lo
*.pyc
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
Thumbs.db
*.bak
.svn
CVS
local.install.yml
.emacs.d/anything-c-adaptive-history
.emacs.d/ac-comphist.dat
.emacs.d/bmk
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/dot/.*
.emacs.d/dot/99_local.el
.emacs.d/site-lisp
.emacs.d/elpa/*
.emacs.d/packages/*
.emacs.d/themes/*
.screen/exchange
.screen/local.screenrc
.vim/info
.vim/local.vim
.vimperator/info
.vimperator/plugin/plugin_loader.js
.vimperator/plugin-available
.zsh/.zcompdump
.zsh/local.zsh
.zsh/cdd_pwd_list*
.zsh/history
