*.o
*.lo
*.pyc
*.elc
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
Thumbs.db
*.bak
.svn
CVS
local.install.yml
*.local.install.yml
.bundle/cache
.emacs.d/.cache
.emacs.d/.cvim-edit
.emacs.d/.dap-*
.emacs.d/.extension
.emacs.d/.lsp-session-*
.emacs.d/abbrev_defs
.emacs.d/daemon.log
.emacs.d/anything-c-adaptive-history
.emacs.d/ac-comphist.dat
.emacs.d/bin/
.emacs.d/bmk
.emacs.d/ensime/
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/transient
.emacs.d/v*
.emacs.d/init/.*
.emacs.d/init/*.local.el
.emacs.d/init-loader/99_local.el
.emacs.d/site-lisp
.emacs.d/url
.screen/exchange
.screen/local.screenrc
.vim/info
.vim/local.vim
.vim/.netrwhist
.vimperator/info
.vimperator/plugin/plugin_loader.js
.vimperator/plugin-available
.zsh/.zcompdump
.zsh/local.zsh
.zsh/*.local.zsh
.zsh/cdd_pwd_list*
.zsh/history
