*.o
*.lo
*.pyc
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
Thumbs.db
*.bak
.svn
CVS
.emacs.d/anything-c-adaptive-history
.emacs.d/ac-comphist.dat
.emacs.d/site-lisp
.emacs.d/dot/.*
.vimperator/info
.vimperator/plugin/plugin_loader.js
.vimperator/plugin-available
.zsh/cdd_pwd_list*
